/* ===== LIGHT THEME ===== */
.light-theme {
  --bg-color: var(--color-secondary);
  --text-color: var(--color-background);
}

/* ===== DARK THEME ===== */
.dark-theme {
  --bg-color: var(--color-background);
  --text-color: var(--color-secondary);
}

/* Application des variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}

.header {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

/* Gestion de la visibilité des icônes */
.dark-theme .dark-icon {
  opacity: 1 !important;
}
.dark-theme .light-icon {
  opacity: 0 !important;
}
